<app-informacion>
</app-informacion>
<nav>
    <div class="nav-wrapper indigo ">
        <app-barra-lateral></app-barra-lateral>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"> <img src="../../assets/sgeneral.png" class="img"> </span>
                    <h1> Seguimiento General </h1>
                </div>
                <div class="card-action">

                    <div class="input-field ">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Nueva actividad </label>

                        <div class="row">
                            <div class="col"><a class="waves-effect waves-light btn"><i class="material-icons right">send</i>Enviar</a></div>
                            <div class="col"><a class="waves-effect waves-light btn"><i class="material-icons right">attach_file</i>Agregar Archivo</a></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>