<div class="image"></div>
<div class="container-fluid">
    <div class="row h-100 d-flex justify-content-center">
        <div class="col-4 mt-5">
            <div class="titulo">
                <img class="logo" src="../../assets/logo.png">
                <b><legend style="color:rgb(0, 189, 116);">Iniciar Sesión</legend></b><br>
                <form enctype="multipart/form-data">
                    <p id="error" style="color:red; display: none;"></p>
                    <input name="email" type="text" class="form-control" placeholder="Correo Electronico"><br>
                    <input name="password" type="password" class="form-control" placeholder="Contraseña"><br>
                    <button type="submit" class="btn btn-block btn-success"><a class="sesion" href="home">Iniciar Sesión</a></button>
                </form>
                <b><p style="color: rgb(70, 70, 70)">¿No Tienes Cuenta? <a href="registro">Registrate</a></p></b>
            </div>
        </div>
    </div>
</div>