<div class="principal">
    <a href="home" class="brand-logo center"><img class="logo" src="../../assets/logo.png"></a>
    <img class="tel" src="../../assets/telefono.png">
    <img class="correo" src="../../assets/correo.png">
    <a href="https://www.facebook.com/UniversidadTecnologicaDeAguascalientes/" target="_blank"><img class="facebook" src="../../assets/facebook.png"></a>
    <a href="https://twitter.com/Aguascalientes" target="_blank"><img class=" twitter " src="../../assets/twitter.png "></a>
    <a href="https://www.youtube.com/ " target="_blank"><img class="youtube " src="../../assets/youtube.png "></a>
    <a href="https://www.isntagram.com/utaguascalientes " target="_blank "><img class="instagram " src="../../assets/instagram.png "></a>
    <p class="num ">+52 449 910 5000</p>
    <p class="correo2 ">contacto@utags.edu.mx</p>
</div>