<nav>
    <div class="nav-wrapper indigo">
        <a href="home" class="brand-logo center"><img class="logo" src="../../assets/logo.png"></a>
        <a href="#" class="brand-logo right"><img class="user" src="../../assets/usuario.png"></a>

        <a href="login" class="logout">Cerrar Sesión</a>
        <ul class="left">
            <li><a href="alta">ALTA</a></li>
            <li><a href="seguimiento">SEGUIMIENTO</a></li>
        </ul>
    </div>
</nav>
<div class="image"></div>
<p>ALERTAS ACADEMICAS</p>