<div class="image"></div>
<div class="container-fluid">
    <div class="row h-100 d-flex justify-content-center">
        <div class="col-4 mt-5">
            <div class="titulo">
                <img class="logo" src="../../assets/logo.png">
                <b><legend style="color:rgb(0, 189, 116);">Registrarse</legend></b><br>
                <form enctype="multipart/form-data">
                    <p id="error" style="color:red; display: none;"></p>
                    <input name="nombre" type="text" class="form-control" placeholder="Nombre" required> <br>
                    <input name="appat" type="text" class="form-control" placeholder="Apellido Paterno" required> <br>
                    <input name="apmat" type="text" class="form-control" placeholder="Apellido Materno" required> <br>
                    <input name="email" type="text" class="form-control" placeholder="Correo Electronico" required> <br>
                    <input name="password" type="password" class="form-control" placeholder="Contraseña" required> <br>
                    <input name="password2" type="password" class="form-control" placeholder="Confirmar Contraseña" required> <br>

                    <select name="id" class="form-control" id="usuarios" required>
                        <option value="" disabled selected>Select your option</option>
                        <option value="value1">Docente</option>
                        <option value="value2" >Coordinador</option>
                        <option value="value3">Director</option>
                    </select><br>
                    <button type="submit" class="btn btn-block btn-success"><a class="sesion" href="home">Registrate</a></button>
                </form>
                <br>
                <b><p style="color: rgb(70, 70, 70)">¿Ya Tienes Cuenta? <a href="login">Inicia Sesión</a></p></b>
            </div>
        </div>
    </div>
</div>